@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: Geograph;
  src: url(../assets/font/geograph-web-medium.woff2);
}

@font-face {
  font-family: SF UI Text;
  src: url(../assets/font/sf-ui-text-2-cufonfonts-webfont/SFUIText-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: SF UI Text;
  src: url(../assets/font/sf-ui-text-2-cufonfonts-webfont/SFUIText-Light.woff);
  font-weight: lighter;
}

@font-face {
  font-family: SF UI Text;
  src: url(../assets/font/sf-ui-text-2-cufonfonts-webfont/SFUIText-Medium.woff);
  font-weight: 500;
}

html {
  scroll-behavior: auto !important;
  overflow-x: hidden;
}

* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: SF UI Text;
}

html {
  width: 100%;
  font-size: 100%;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 97%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 94%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 91%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 88%;
  }
}

.curosorPointer {
  cursor: pointer;
}

.page_container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1080px) and (min-width: 575px) {
  .page_container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.page_container2 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.lightColor {
  color: #777777;
}

.purpleColor {
  color: #5a59e4;
}

.themeColor {
  color: #3f3cd7;
}

.interFont {
  font-family: "Inter", sans-serif;
}

.searchBtn {
  background-color: #3f3cd7;
  font-weight: 500;
  letter-spacing: 0.3px;
  border-radius: 8px !important;
}

.upper_section_mobile {
  background: #f7f7f9;
}

.middle_section {
  background: #eeeef4;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.textG {
  font-family: Geograph;
}

.textS {
  font-family: SF UI Text;
}

.head_color {
  color: #373f5b;
}

.underHead_color {
  color: #5d6688;
}

input {
  border-radius: 8px;
}

.newsletter_container {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.newsletter_container .inp_container input {
  padding-left: 3.6rem;
  height: 42px;
  background-color: #fff;
}

.newsletter_container .inp_container input::-webkit-input-placeholder {
  color: #777777;
  font-size: 0.9rem;
}

.newsletter_container .inp_container input:-ms-input-placeholder {
  color: #777777;
  font-size: 0.9rem;
}

.newsletter_container .inp_container input::-ms-input-placeholder {
  color: #777777;
  font-size: 0.9rem;
}

.newsletter_container .inp_container input::placeholder {
  color: #777777;
  font-size: 0.9rem;
}

.newsletter_container .inp_container input:focus {
  outline: none;
}

.newsletter_container .inp_container h6 {
  position: absolute;
  left: 2%;
  top: 51%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.9rem;
}

.newsletter_container input {
  border: 1px solid #e2e2e2;
}

.newsletter_container button {
  height: 42px;
}

.newsletter_container2 {
  margin-bottom: 1rem;
}

.newsletter_container2 .inp_container input {
  padding-left: 3.7rem;
  height: 40px;
  background-color: #fff;
  font-size: 0.9rem;
}

.newsletter_container2 .inp_container input::-webkit-input-placeholder {
  color: #777777;
}

.newsletter_container2 .inp_container input:-ms-input-placeholder {
  color: #777777;
}

.newsletter_container2 .inp_container input::-ms-input-placeholder {
  color: #777777;
}

.newsletter_container2 .inp_container input::placeholder {
  color: #777777;
}

.newsletter_container2 .inp_container input:focus {
  outline: none;
}

.newsletter_container2 .inp_container h6 {
  position: absolute;
  left: 2%;
  top: 47.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.9rem;
}

.newsletter_container2 input {
  border: 1px solid #e2e2e2;
}

.newsletter_container2 button {
  height: 40px;
  font-size: 0.8rem;
}

.newsletter_containerHeader .inp_container input {
  padding-left: 3.3rem;
  height: 36px;
  font-size: 0.8rem;
  width: 280px;
}

.newsletter_containerHeader .inp_container input::-webkit-input-placeholder {
  color: #777777;
}

.newsletter_containerHeader .inp_container input:-ms-input-placeholder {
  color: #777777;
}

.newsletter_containerHeader .inp_container input::-ms-input-placeholder {
  color: #777777;
}

.newsletter_containerHeader .inp_container input::placeholder {
  color: #777777;
}

.newsletter_containerHeader .inp_container input:focus {
  outline: none;
}

.newsletter_containerHeader .inp_container h6 {
  position: absolute;
  left: 3.2%;
  top: 47.2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.8rem;
}

.newsletter_containerHeader input {
  border: 1px solid #e2e2e2;
}

.newsletter_containerHeader button {
  height: 36px;
  font-size: 0.78rem;
}

.newsletter_containerFooter .inp_container {
  width: 85%;
}

.newsletter_containerFooter .inp_container input {
  padding-left: 3.2rem;
  height: 34px;
  font-size: 0.8rem;
}

.newsletter_containerFooter .inp_container input::-webkit-input-placeholder {
  color: #777777;
}

.newsletter_containerFooter .inp_container input:-ms-input-placeholder {
  color: #777777;
}

.newsletter_containerFooter .inp_container input::-ms-input-placeholder {
  color: #777777;
}

.newsletter_containerFooter .inp_container input::placeholder {
  color: #777777;
}

.newsletter_containerFooter .inp_container input:focus {
  outline: none;
}

.newsletter_containerFooter .inp_container h6 {
  position: absolute;
  left: 2.5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.8rem;
}

.newsletter_containerFooter .searchBtn_cont {
  width: 15%;
}

.newsletter_containerFooter input {
  border: 1px solid #e2e2e2;
}

.newsletter_containerFooter button {
  height: 34px;
  width: 100%;
  font-size: 0.78rem;
}

.NavbarContainer {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 0rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 10000;
}

.NavbarContainer .hamburger_container {
  position: absolute;
  left: 2%;
}

.NavbarContainer h5 {
  font-size: 1.25rem;
}

.NavbarContainer .header_btn {
  padding: 0rem 0.8rem;
  font-size: 0.9rem;
  font-size: 600;
}

.NavbarContainer ul li a {
  font-size: 14px;
}

.NavbarContainerPinned {
  position: fixed;
  top: -20%;
  left: 0%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.NavbarContainerPinned.sticky {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 0.8rem 0rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.NavbarContainer.mobilePinned {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 1.2rem 0rem;
}

.mobilePinned.sticky {
  display: none;
  width: 100%;
  background-color: #fff;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.pinnedFooter {
  display: none;
  position: fixed;
  bottom: -10%;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.pinnedFooter.sticky {
  bottom: 0%;
  -webkit-box-shadow: 0 -0.11rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 -0.11rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.SideBarContainer {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.SideBarContainer ul li {
  height: 55px;
}

.SideBarContainer ul li a {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .pinnedFooter {
    display: block;
  }
  .mobilePinned,
  .mobilePinned.sticky {
    display: block;
  }
}

.hero_container {
  padding-top: 5rem;
}

.hero_container h1 {
  font-weight: 400;
  font-size: 5rem;
  line-height: 100px;
}

.hero_container p {
  font-size: 1.2rem;
  margin: 28px 0px;
}

.good_hands_container h3 {
  color: #373f5b;
  font-size: 2.4rem;
  line-height: 60px;
}

.good_hands_container .firstP {
  width: 85%;
  line-height: 34px;
  color: #4b5063;
  font-size: 1rem;
  margin-top: 1.4rem;
  margin-bottom: 2.2rem;
}

.good_hands_container .leave_brand_container {
  margin: 1.8rem 0rem 1.8rem 0rem;
}

.good_hands_container .leave_img:nth-child(1) {
  height: 60px;
  width: auto;
}

.good_hands_container .leave_img:nth-child(2) {
  height: 60px;
  width: auto;
}

.good_hands_container .leave_img:nth-child(3) {
  height: 62px;
  width: auto;
}

.good_hands_container .leave_img:nth-child(4) {
  height: 65px;
  width: auto;
}

.good_hands_container .leave_img:nth-child(5) {
  height: 60px;
  width: auto;
}

.offer_section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.offer_card img {
  width: 40%;
}

.offer_card h5 {
  font-size: 1.6rem;
}

.offer_card p {
  width: 85%;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: -0.1px;
}

.approach_container {
  margin-top: 6rem;
}

.approach_container p {
  font-size: 0.9rem;
}

.approach_container .under_head {
  font-weight: 400;
  color: #4b5063;
  font-size: 1rem;
  line-height: 30px;
}

.approach_container .bottom_link {
  margin-top: 3rem;
}

.approach_container .approach_card .box {
  height: 100%;
  border-radius: 4px;
  background: #f9f9fb;
}

.approach_container .approach_card h6 {
  font-size: 1.1rem;
}

.approach_container .approach_card {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.approach_container .approach_card:nth-child(1) {
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.approach_container .approach_card:nth-child(1) .box {
  width: 90px;
}

.approach_container .approach_card:nth-child(2) {
  border-bottom: 1px solid #e4e4e4;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.approach_container .approach_card:nth-child(2) .box {
  width: 100px;
}

.approach_container .approach_card:nth-child(3) {
  border-right: 1px solid #e4e4e4;
}

.approach_container .approach_card:nth-child(3) .box {
  width: 110px;
}

.approach_container .approach_card:nth-child(4) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.approach_container .approach_card:nth-child(4) .box {
  width: 90px;
}

.getPaid_container {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.getPaid_container h2 {
  font-size: 2.4rem;
}

.getPaid_container .row {
  margin-top: 5rem;
}

.getPaid_container p {
  font-size: 1.35rem;
  line-height: 35px;
}

.stackUp_container {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.stackUp_container .box_container {
  margin-top: 3.5rem;
}

.stackUp_container h2 {
  font-size: 2.4rem;
}

.stackUp_container .under_head {
  font-size: 1rem;
}

.stackUp_container .news_letter_cont {
  padding-top: 8rem;
}

.stackUp_container .row .stackSection {
  width: 92%;
}

.stackUp_container .row .stackSection .box {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  background: #f9f9fb;
  border-radius: 8px;
}

.stackUp_container .row .stackSection button {
  background: #3f3cd7;
  font-weight: 500;
  padding: 0.4rem 0rem;
}

.stackUp_container .row .stackSection hr {
  margin: 1.8rem 0rem;
}

.faq_container {
  margin-top: 7rem;
  margin-bottom: 8rem;
}

.faq_container .lightColor {
  color: #989ac1;
}

.faq_container .MuiPaper-root {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: SF UI Text;
}

.faq_container .MuiTypography-root {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: SF UI Text;
  color: #000;
  font-size: 1rem;
}

.faq_container .MuiAccordionSummary-root {
  padding: 8px 16px 8px 0px;
  font-family: SF UI Text;
}

.faq_container .MuiAccordionDetails-root {
  padding: 5px 120px 5px 0px;
}

.testimonials_container {
  margin-top: 7rem;
}

.testimonials_container .testimonial_card {
  height: 100%;
  border: 1px solid #ececec;
  border-radius: 12px;
  padding: 20px 20px 20px;
  width: 96% !important;
  margin: auto;
}

.testimonials_container .testimonial_card .testiText {
  letter-spacing: 0.7px;
  word-spacing: 1.5px;
}

.testimonials_container .testimonial_card .testiUnder {
  font-size: 1.1rem;
}

.testimonials_container .person_placeholder {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f9f9fb;
}

.testimonials_container p {
  line-height: 28px;
}

@media screen and (max-width: 998px) {
  .NavbarContainer {
    display: none;
  }
  .NavbarContainerPinned {
    display: none;
  }
  .NavbarContainerPinned.sticky {
    display: none;
  }
  .NavbarContainer.mobilePinned {
    display: block;
  }
  .testimonials_container .testimonial_card {
    height: 240px;
  }
  .good_hands_container .firstP {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .stackUp_container .box_container {
    margin-top: 0rem;
  }
  .stackUp_container .row .upperStackSection {
    border-right: none;
  }
  .stackUp_container .row .stackSection {
    width: 100%;
  }
  .stackUp_container .row .stackSection .box {
    width: 100px;
    height: 100px;
  }
  .stackUp_container .row .stackSection.stack1 {
    padding: 1.5rem;
    border-radius: 15px;
  }
  .stackUp_container .row .stackSection.stack2 {
    padding: 1.5rem;
    border-radius: 15px;
  }
  .approach_container .row {
    margin-top: 1rem;
  }
  .approach_container .approach_card .box {
    height: 40px;
  }
  .approach_container .approach_card:nth-child(1) {
    border-right: none;
  }
  .approach_container .approach_card:nth-child(1) .box {
    width: 60px;
  }
  .approach_container .approach_card:nth-child(2) {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  .approach_container .approach_card:nth-child(2) .box {
    width: 75px;
  }
  .approach_container .approach_card:nth-child(3) {
    border-right: none;
    border-bottom: 1px solid #e4e4e4;
  }
  .approach_container .approach_card:nth-child(3) .box {
    width: 72px;
  }
  .approach_container .approach_card:nth-child(4) {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  .approach_container .approach_card:nth-child(4) .box {
    width: 66px;
  }
  .hero_container {
    padding-top: 6rem;
  }
  .hero_container h1 {
    font-size: 3rem;
    line-height: 48px;
  }
  .offer_section {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .offer_card p {
    width: 100%;
  }
  .middle_section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .good_hands_container h3 {
    line-height: 48px;
  }
  .good_hands_container .firstP {
    width: 100%;
    line-height: 22px;
  }
  .approach_container .under_head {
    line-height: 22px;
  }
  .getPaid_container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .stackUp_container {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
  .stackUp_container .news_letter_cont {
    padding-top: 4rem;
  }
  .testimonials_container {
    margin-top: 5rem;
  }
  .testimonials_container p {
    line-height: 25px;
  }
  .testimonials_container .testimonial_card {
    padding: 20px 20px 20px;
  }
  .faq_container {
    margin-top: 5rem;
  }
  .getPaid_container h2 {
    font-size: 2rem;
  }
  .stackUp_container .row .stackSection hr {
    margin: 1.3rem 0rem;
  }
  .newsletter_containerFooter .inp_container input {
    padding-left: 3.5rem;
  }
  .faq_container .MuiAccordionDetails-root {
    padding: 5px 25px 5px 0px;
  }
  .testimonials_container .testimonial_card {
    height: 200px;
  }
  .offer_card img {
    width: 60%;
  }
}

@media screen and (max-width: 575px) {
  .hero_container .newsletter_container {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .hero_container .newsletter_container input {
    border: none;
  }
  .offer_card:nth-child(1) {
    margin-top: 3rem;
  }
  .offer_card:nth-child(1) .img_placeholder {
    height: 50px;
    width: 110px;
  }
  .offer_card:nth-child(2) {
    margin-top: 1rem;
  }
  .offer_card:nth-child(2) .img_placeholder {
    height: 50px;
    width: 120px;
  }
  .offer_card:nth-child(3) {
    margin-top: 1rem;
    padding-bottom: 4rem;
  }
  .offer_card:nth-child(3) .img_placeholder {
    height: 50px;
    width: 100px;
  }
  .searchBtn {
    background-color: #5a59e4;
    border-radius: 8px !important;
  }
  .getPaid_container .row {
    margin-top: 0rem;
  }
  .testimonials_container .testimonial_card {
    height: 250px;
  }
  .offer_card img {
    width: 100%;
  }
  .offer_card p {
    width: 100%;
    line-height: 22px;
  }
  .newsletter_containerFooter .inp_container input {
    padding-left: 3.1rem;
  }
}

@media screen and (min-width: 900px) {
  .testimonials_container .testimonial_card {
    height: 250px;
  }
}
/*# sourceMappingURL=style.css.map */